############ REQUIRED ############
OPD_GROUP_BOT_ID=
TG_REST_BOT_TOKEN=
TG_REST_CHANNEL_ID=

DB_NAME=
DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=

############ OPTIONAL ############
DB_LOG_QUERIES=

TZ=

REFUND_WAGER_DEFAULT=
ALLOW_MULTIPLE_CHOICES_DEFAULT=
CAN_WITHDRAW_BET_DEFAULT=

DEVIL_FRUIT_MIN_ABILITY_VALUE=
DEVIL_FRUIT_MAX_ABILITY_VALUE=
DEVIL_FRUIT_ABILITIES_MAX_SUM=

MAX_ITEMS_DISPLAYED_LIST=